h1 {
    font-size: 60px;
}

.table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-wrapper {
    margin: 0 auto;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.rowWrapper {
    display: flex;
}

.button {
    text-align: center;
    height: 30px;
    width: inherit;
    border-radius: none;
    border-bottom: 2px solid cyan;
    background-color: aquamarine;
    margin-left: 2px;
}

.button:hover {
    opacity: .75;
}

.table {
    border: 1px solid slategray;
}
